.backg-image {
  background-image: url(../assets/images/freepik-blanca-puntos-234567.jpg);
  padding: 2vw 0vw; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.imgLogo {
  animation-duration: 8s;
  animation-name: aparecer;
  animation-iteration-count: 1; }

.imgLogo {
  width: 5vw; }

@font-face {
  font-family: JosefinSans;
  src: url(../assets/fonts/JosefinSans-Italic-VariableFont_wght.ttf); }

.padding-nav {
  padding-left: 15vw;
  padding-right: 13vw; }

.padding-nav-a {
  padding-left: 3vw !important;
  padding-right: 3vw !important;
  font-family: JosefinSans;
  font-size: 3vh; }

.navbar {
  padding-bottom: 1vw; }

.titulo {
  padding: 2vw 0vw; }

.titulosPaginas {
  padding: 1vw 45vw; }

/*QUE HACEMOS?*/
.justify-content {
  display: flex;
  justify-content: center; }

.mas {
  color: black; }

.imgTwitter {
  width: 2vw;
  padding-top: 5vw; }

.imgInsta {
  width: 2vw;
  padding-top: 5vw; }

/*INDEX*/
.imgRollheiser {
  width: 32vw;
  padding-top: 3vw;
  padding-right: 1vw; }

.imgXbox {
  padding-top: 3vw; }

.imgVolcan {
  padding-left: 3vw; }

/*NOTICIAS*/
.videoJJOO, .imgMessi, .imgDuki {
  width: 32vw; }

.imgApple {
  padding-left: 3vw; }

/*PAGINA*/
.imgXboxPagina {
  padding-left: 10vw;
  padding-top: 4vw;
  padding-bottom: 4vw;
  width: 80vw; }

/*QUE HACEMOS?*/
.imgRedactando {
  width: 70vw; }

.center2 {
  display: flex;
  justify-content: center; }

.center {
  padding: 2vw 0vw;
  font-size: 3vh; }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  /*INDEX*/
  .gridFooter {
    display: grid;
    grid-template-areas: "logo" "suscribirse" "claseX" "copyrightJe";
    grid-auto-rows: 15vw 50vw 35vw 40vw;
    grid-template-columns: 107%; }
  .logoFooter {
    grid-area: logo; }
  .suscribirse {
    grid-area: suscribirse;
    display: flex !important;
    display: inline-block !important;
    padding-left: 12vw; }
  .claseX {
    grid-area: claseX; }
  .copyrightJe {
    grid-area: copyrightJe; }
  .titulosPaginas {
    padding: 1vw 35vw; }
  .titulo {
    padding: 6vw 0vw; }
  .imgTwitter {
    width: 9vw !important; }
  .imgInsta {
    width: 9vw !important; }
  .imgRollheiser {
    width: 90vw; }
  .imgVolcan {
    padding-left: 10vw; }
  .imgXbox {
    width: 90vw; }
  .imgMessi {
    width: 90vw; }
  .imgLogo {
    width: 15vw; }
  .videoJJOO, .imgMessi, .imgDuki {
    width: 90vw; }
  .imgDuki {
    width: 90vw; }
  .linkInstagram {
    font-size: 4vw !important; }
  .padding-nav {
    padding-left: 23vw;
    padding-right: 23vw; }
  .padding-nav-a {
    padding-left: 10vw !important; }
  .div {
    display: flex;
    justify-content: center; } }

@media only screen and (min-width: 0px) and (max-width: 768px) {
  /*PAGINA*/
  .imgPagina {
    padding-left: 22vw;
    padding-top: 25vw;
    padding-bottom: 25vw; } }

@media only screen and (min-width: 1268px) {
  .gridContainer {
    display: grid;
    grid-template-areas: "nav" "titulo" "priNot" "segNot" "terNot" "footer";
    grid-template-rows: 6vw 9vw 30vw 27vw 27vw 22vw;
    grid-template-columns: 100%; }
  .footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 95vw; }
  .nav {
    grid-area: nav; }
  .titulo {
    grid-area: titulo; }
  .priNot {
    grid-area: priNot; }
  .segNot {
    grid-area: segNot; }
  .terNot {
    grid-area: terNot; }
  .suscribirse {
    padding-top: 5vw; } }

.linkInstagram {
  font-size: 1vw;
  font-family: sans-serif;
  color: black;
  text-decoration: none; }

.flexF {
  display: flex; }

.h6footer {
  font-size: 2vw !important; }

.claseX {
  padding-top: 4vw;
  display: flex;
  display: inline-block; }

h6 {
  font-size: 10px; }

.divH6Footer {
  padding-top: 14vw; }

/*CONTACTO*/
.rowContacto {
  padding: 4vw 0vw; }

/*SOCIOS*/
.rowSocios {
  background-image: url(../assets/images/freepik-blanca-puntos-234567.jpg);
  padding: 2vw 0vw; }
