.linkInstagram{
	font-size: 1vw;
	font-family: sans-serif;
	color: rebeccapurple;
}

.flexF{
	display: flex;
}

.div{
	padding-left: 1vw;
}

/*CONTACTO*/

.rowContacto{
	padding: 4vw 0vw;
}

/*SOCIOS*/

.rowSocios{
	background-image: url(../assets/images/freepik-blanca-puntos-234567.jpg);
	padding: 2vw 0vw;
}