.linkInstagram{
	font-size: 1vw;
	font-family: sans-serif;
	color: rebeccapurple;
}

.flexF{
	display: flex;
}

.div{
	padding-left: 2vw;
}

.h6footer{
	font-size: 1vw!important;
}

h6{
	font-size: 10px;
}

.divH6Footer{
	padding-top: 3vw;
}

/*CONTACTO*/

.rowContacto{
	padding: 4vw 0vw;
}

/*SOCIOS*/

.rowSocios{
	background-image: url(../assets/images/freepik-blanca-puntos-234567.jpg);
	padding: 2vw 0vw;
}