/*INDEX*/

.imgRollheiser{
	width: 32vw;
	padding-top: 3vw;
	padding-right: 1vw;
}

.imgXbox{
	padding-top: 3vw;
}

.imgVolcan{
	padding-left: 3vw;
}

/*NOTICIAS*/

.videoJJOO{
	width: 32vw;
}

.imgMessi{
	width: 32vw;
}

.imgDuki{
	width: 32vw;
}

.imgApple{
	padding-left: 3vw;
}

/*PAGINA*/

.imgPagina{
	padding-left: 39vw;
	padding-top: 12vw;
	padding-bottom: 12vw;
}

/*QUE HACEMOS?*/

.imgRedactando{
	width: 70vw;
}

