.imgTwitter{
	width: 2vw;
	padding-top: 5vw;
}

.imgInsta{
	width: 2vw;
	padding-top: 5vw;
}

/*INDEX*/

.imgRollheiser{
	width: 32vw;
	padding-top: 3vw;
	padding-right: 1vw;
}

.imgXbox{
	padding-top: 3vw;
}

.imgVolcan{
	padding-left: 3vw;
}

/*NOTICIAS*/

.videoJJOO{
	width: 32vw;
}

.imgMessi{
	@extend .videoJJOO;
}

.imgDuki{
	@extend .videoJJOO;
}

.imgApple{
	padding-left: 3vw;
}

/*PAGINA*/

.imgXboxPagina{
	padding-left: 10vw;
	padding-top: 4vw;
	padding-bottom: 4vw;
	width: 80vw;
}

/*QUE HACEMOS?*/

.imgRedactando{
	width: 70vw;
}

