@media only screen and (min-width: 0px) and (max-width: 768px){
	/*INDEX*/
	.gridFooter{
		display: grid;
		grid-template-areas:
		"logo"
		"suscribirse"
		"claseX"
		"copyrightJe";
		grid-auto-rows: 15vw 50vw 35vw 40vw;
		grid-template-columns: 108%;
	}

	.logoFooter{
		grid-area: logo;
	}

	.suscribirse{
		grid-area: suscribirse;
		display: flex!important;
		display: inline-block!important;
		padding-left: 12vw;
	}

	.claseX{
		grid-area: claseX;
	}

	.copyrightJe{
		grid-area: copyrightJe;
	}

	.titulosPaginas{
		padding: 1vw 35vw;
	}

	.titulo{
		padding: 6vw 0vw;
	}

	.imgTwitter{
		width: 9vw!important;
	}

	.imgInsta{
		width: 9vw!important;
	}

	.imgRollheiser{
		width: 90vw;
	}

	.imgVolcan{
		padding-left: 10vw;
	}

	.imgXbox{
		width: 90vw;
	}

	.imgMessi{
		width: 90vw;
	}

	.imgLogo{
		width: 15vw;
	}

	.videoJJOO{
		width: 90vw;
	}

	.imgDuki{
		width: 90vw;
	}

	.linkInstagram{
		font-size: 4vw!important;
	}

	.padding-nav{
	padding-left: 23vw;
	padding-right: 23vw;
	}

	.padding-nav-a{
	padding-left: 10vw!important;
	}

	.div{
		display: flex;
		justify-content: center;
	} 


}

@media only screen and (min-width: 0px) and (max-width: 768px){
	/*PAGINA*/
	.imgPagina{
	padding-left: 22vw;
	padding-top: 25vw;
	padding-bottom: 25vw;
	}
}

@media only screen and (min-width: 1268px){
	.gridContainer{
	display: grid;
	grid-template-areas:
	"nav"
	"titulo"
	"priNot"
	"segNot"
	"terNot"
	"footer";
	grid-template-rows: 6vw 9vw 30vw 27vw 27vw 22vw;
	grid-template-columns: 100%;
	}

	.footer{
		grid-area: footer;
		display: grid;
		grid-template-columns: 95vw;
	}
	.nav{
		grid-area: nav;
	}
	.titulo{
		grid-area: titulo;
	}
	.priNot{
		grid-area: priNot;
	}
	.segNot{
		grid-area: segNot;
	}
	.terNot{
		grid-area: terNot;
	}

	.suscribirse{
		padding-top: 5vw;
	}
}